<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Search Product</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Search"
  />
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{ filterText }}
</div>

<div class="mb-3">
  <label for="filter2" class="form-label">Search CategoryId</label>
  <input
    type="text"
    [(ngModel)]="filter2"
    class="form-control"
    id="filter2"
    placeholder="Search"
  />
</div>
<div *ngIf="filter2" class="alert alert-success">
  {{ filter2 }}
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Category Id</th>
      <th>Unit Price</th>
      <th>Price With Vat</th>
      <th>Units In Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let product of products | filterPipe: filterText | filter2: filter2
      "
    >
      <td>{{ product.productId }}</td>
      <td>{{ product.productName | uppercase }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.unitPrice | currency }}</td>
      <td>{{ product.unitPrice | vatAdded: 10 | currency }}</td>
      <td>{{ product.unitsInStock }}</td>
      <td>
        <button
          (click)="addToCart(product)"
          type="button"
          class="btn btn-success"
        >
          Add To Cart
        </button>
      </td>
    </tr>
  </tbody>
</table>
